POSTGRES_USER=example
POSTGRES_PASSWORD=example
POSTGRES_PORT=5555

KAFKA_PORT=9999

PARTNER_DB_NAME=partner_db
PARTNER_DB_USER=partner
PARTNER_DB_PASSWORD=example
PARTNER_DB_PORT=5432

KEYCLOAK_DB_NAME=keycloak
KEYCLOAK_DB_USER=keycloak
KEYCLOAK_DB_PASSWORD=example

KEYCLOAK_ADMIN_USERNAME=admin
KEYCLOAK_ADMIN_PASSWORD=example
KEYCLOAK_PORT=8081
KEYCLOAK_MANAGEMENT_PORT=9000

CUSTOMER_DEMO_PASSWORD=example
MANAGER_DEMO_PASSWORD=example
