# PostgreSQL
POSTGRES_USER=example
POSTGRES_PASSWORD=example
POSTGRES_DB=example
POSTGRES_PORT=5555

# Kafka
KAFKA_PORT=9999
KAFKA_BOOTSTRAP_SERVERS=localhost:9999

# partner-service
PARTNER_SERVICE_PORT=8881
PARTNER_SERVICE_URL=http://localhost:8881
PARTNER_HTTP_TIMEOUT=500ms

PARTNER_DB_NAME=example_1_db
PARTNER_DB_USER=example_1
PARTNER_DB_PASSWORD=password
PARTNER_DB_URL=jdbc:postgresql://localhost:5555/example_1_db

# offer-service
OFFER_SERVICE_PORT=8882
OFFER_SERVICE_URL=http://localhost:8882
OFFER_HTTP_TIMEOUT=500ms

OFFER_DB_NAME=example_2_db
OFFER_DB_USER=example_2
OFFER_DB_PASSWORD=password
OFFER_DB_URL=jdbc:postgresql://localhost:5555/example_2_db

OFFER_SERVICE_CLIENT_ID=example
OFFER_SERVICE_CLIENT_SECRET=example

# Keycloak
KEYCLOAK_DB_NAME=example_8_db
KEYCLOAK_DB_USER=example_8
KEYCLOAK_DB_PASSWORD=password

KEYCLOAK_ADMIN_USERNAME=admin
KEYCLOAK_ADMIN_PASSWORD=password
KEYCLOAK_PORT=8888
KEYCLOAK_MANAGEMENT_PORT=9090

KEYCLOAK_ISSUER_URI=http://localhost:8888/realms/foodrescue
KEYCLOAK_TOKEN_URI=http://localhost:8888/realms/foodrescue/protocol/openid-connect/token

DEMO_USER_PASSWORD=password
